
@media (max-width: 767px) {
    .hide-on-mobile
    {
        display: none;
    }
    .logo{
        margin-top: 50%;
    }
    .hand-right
    {
        margin-top: 30%;
    }
    .heading
    {
        margin-top: 5%;
    }
    .form
    {
        margin-top: 4%;
    }
}