@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@font-face {
font-family: snake;
src: url(/assets/fonts/snake-holiday-font/SnakeHoliday-vmYXD.OTF);
}
:root{
    --bg-color:#222529;
    --Accent-color-1:#6B6E76;
    --Accent-color-2:#A8ABB4;
    --Accent-color-3:#D4D7DE;
    --Accent-color-4:#4E5057;
    --Accent-color-5:#86898F;
    --bs-heading-color:#fff;

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-orange-rgb: 253, 126, 20;

    --bs-light: #2a2c31
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body
{
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    /* font-family: 'Redressed', cursive; */
    color: #fff;
    scroll-behavior: smooth;
}

.home-section 
{
    background-color: var(--bg-color);
}
.card-1{
    background: #2abba7;
}
.card-2{
    background: #f0284a;
}
.card-3{
    background: #1877f2;
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
  }

.logo
{
    letter-spacing: 7px;
    font-weight: 600;
    font-style: bold;
    margin-top: 5%;
}


.btn-round
{
    border-radius: 50%;
}
.border
{
    padding: 1.5rem;
    border-radius: 6px;
}

.br{
    border-radius: 6px; 
}

.bg-danger-hover:hover
{
    background-color: red;
    color: #fff;
}

.font {
    font-family: snake;
}


/* missing bootstrap classes */
.fill-warning
{
    fill: #f7c32e;
}
@media (min-width: 1200px) {
    .display-5 {
      font-size: 4rem;
    }
}
.d-inline-block {
    display: inline-block !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: var(--bs-heading-color, inherit);
}
.z-index-n1
{
    z-index: 1;
}
.z-index-n2
{
    z-index: 2;
}
.text-orange
{
    color: #fd7e14;
}
.bg-orange {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-orange-rgb), var(--bs-bg-opacity)) !important;
  }
.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
}
.avatar-group {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #topNav{
    transition: all 0.5s ease; /* Apply transition to all properties over 0.5 seconds with ease timing function */
  }


.cursor-pointer
{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 1vh;
}