@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body
{
    background-color: #222529;
    scroll-behavior: smooth;
    /* font-family: 'Redressed', cursive; */
    color: #fff;
}